name: Test / Lint

on:
  pull_request:

concurrency: CI

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: golang lint
        uses: golangci/golangci-lint-action@v7
        with:
          args: --tests=false
          version: latest
          only-new-issues: true
          skip-config-verify: true

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.24

      - name: test
        run: |
          make sweep testacc
        env:
          TG_API_KEY_ID: ${{ secrets.TG_API_KEY }}
          TG_API_KEY_SECRET: ${{ secrets.TG_API_KEY_SECRET }}
          TG_API_HOST: api.dev.trustgrid.io
          TG_ORG_ID: dddb37c1-f707-4a55-bb72-a5978461771a